* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 1px solid #dadada;
      padding: 2px;
    }

    button {
      display: flex;
      align-items: center;
      border: 1px solid #dadada;
      padding: 3px 6px;
      font-size: 10px;
      border-radius: 5px;
      gap: 3px;
      background: transparent;
      color: #787272;
      cursor: pointer;
    }
  }
}

.center {
  h3 {
    font-size: 17px;
    font-weight: 600;

    span {
      font-size: 9px;
      font-weight: 400;
      color: #8b8b8b;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .tag {
    display: flex;
    margin-top: 10px;
    gap: 5px;

    h4 {
      font-size: 10px;
      background-color: #dadada;
      color: #111;
      font-weight: 500;
      padding: 4px 8px;
      border-radius: 3px;
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7ce;
  padding-top: 10px;

  button {
    background: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    column-width: 600;
    cursor: pointer;
  }

  h3 {
    font-size: 17px;
  }

  p {
    font-size: 10px;
    color: #8b8b8b;
  }
}