* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.card {
  background: crimson;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.navbar {
  background: red;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}