* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #000;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
}

.nav {
  background-color: rgba(0, 221, 255, 0.83);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  div {
    display: flex;
    gap: 8px;

    a {
      font-size: 20px;
      font-style: bold;
    }
  }
}