* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: gray;
  padding: 10px 30px;
  border-radius: 30px;
  margin-left: 20px;
}

h1 {
  margin-left: 20px;
}